.punane {
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 100px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.kollane {
    width: 200px;
    height: 200px;
    background: yellow ;
    border-radius: 100px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.roheline {
    width: 200px;
    height: 200px;
    background: green;
    border-radius: 100px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}